.body1 {background-color:white; height:300px;width:600px;padding:20px;border:1px solid;border-radius:32px}
h1{color:grey;}
#cont1
{
visibility: hidden
}
#pval
{
background-color:yellow;
margin-left:10px
}
#rval,
#aval,
#yval
{
background-color:yellow;
margin-left:10px
}
#principal
#rate
#years
{
margin-left:20px
}
.compute{
margin-top:20px
}
